@font-face {
  font-family: "Nobleman";
  src: url("../assets/fonts/font.woff") format("woff"),
    url("../assets/fonts/font.woff2") format("woff2");
}

@font-face {
  font-family: "NoblemanText";
  src: url("../assets/fonts/fonttext.woff") format("woff"),
    url("../assets/fonts/fonttext.woff2") format("woff2");
}
