//Scss della home
.home {
  background-image: url("../assets/images/sfondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;

  .home_container {
    height: 100vh;

    .logo {
      height: 200px;
      margin-bottom: 70px;
    }

    p {
      padding-bottom: 10px;
      text-align: center;
    }

    .subtitle {
      padding-bottom: 200px;
      z-index: 999;
    }

    .enter_btn {
      border-bottom: 1px solid white;
      cursor: pointer;
      z-index: 999;
    }
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
  }

  .stonehenge {
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      z-index: 998;
    }
  }
}

@media (max-width: 900px) {
  .home {
    .home_container {
      img {
        height: 50px;
      }

      .title {
        font-size: 48px;
      }

      .subtitle {
        padding-bottom: 50px;
        font-size: 24px;
      }
    }
  }
}
