//Scss della home
.home {
  background-image: url("https://images.unsplash.com/photo-1524980982360-814d8efb0506?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  &_container {
    height: 100vh;
    .logo {
      height: 100px;
      margin-bottom: 70px;
    }
    p {
      padding-bottom: 10px;
      text-align: right !important;
      opacity: 0;
    }
    .subtitle {
      padding-bottom: 200px;
      z-index: 999;
      opacity: 0;
    }
    .enter_btn {
      cursor: pointer;
      z-index: 999;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      opacity: 0;
      .line {
        border-bottom: 1px solid white;
        width: 100%;
        height: 1px;
        opacity: 0;
      }
    }
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
  }
  .stonehenge {
    overflow: hidden;
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      z-index: 998;
    }
  }
}
@media (max-width: 900px) {
  .home {
    .home_container {
      p {
        text-align: center !important;
      }

      img {
        width: 100%;
        height: auto;
        bottom: 0%;
      }
      .title {
        font-size: 48px;
      }
      .subtitle {
        padding-bottom: 50px;
        font-size: 24px;
      }
    }
  }
}
//Intro Text
.introtext_title {
  padding: 25px 0 0 50px;
}
.sub {
  text-align: left;
  width: 50%;
  padding-left: 50px;
}
.introtext_column {
  div {
    padding: 50px;
    width: 50%;
    p {
      text-align: justify;
      letter-spacing: 2%;
      line-height: 1.94;
    }
    img {
      width: 500px;
      padding-bottom: 50px;
      padding-left: 50px;
    }
    img:nth-child(1) {
      padding-left: 50px;
    }
  }
}
.introtext_column2 {
  p {
    padding: 50px;
    letter-spacing: 2%;
    line-height: 1.94;
  }
  .introbtn {
    padding-bottom: 50px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    display: none;
    opacity: 0;
    transition: 0s;

    button {
      border-radius: 60px;
      border: none;
      background-color: rgb(56, 14, 14);
      padding: 10px 20px;
      color: white;
      letter-spacing: initial;
      line-height: initial;
    }
  }
}

@media (max-width: 900px) {
  .intro_main {
    .introtext_title {
      padding-right: 10px;
      padding-left: 10px;
      p {
        font-size: 38px;
      }
    }

    .sub {
      font-size: 35px;
      width: 100%;
      padding: 0px;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 10px;
      text-align: center;
    }

    .introtext_column {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      div {
        padding: 0px;
        padding-top: 50px;
      }

      img {
        padding-left: 0px;
        max-width: 100%;
        height: auto;
      }
    }
    .introtext_column2 p {
      display: none;
    }
  }
}
