.flex {
  display: flex;

  &_center {
    justify-content: center;
    align-items: center;
  }

  &_hcenter {
    justify-content: center;
  }

  &_column {
    flex-direction: column;
  }

  &_reverse {
    flex-direction: row-reverse;
  }
}
