* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  cursor: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(84, 255, 68);
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 999;
}
.expand {
  transform: scale(3);
}
