* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
