//Scss della scenaPunto
.a-bcg-body {
  pointer-events: all;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #edebe6;
  height: 100vh;
  width: 100vw;

  .a-bcg-body-container {
    overflow-y: scroll;
    padding: 50px;

    h3 {
      text-align: center;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .a-title {
    transform: rotate(90deg);
    position: absolute;
    top: 10%;
    right: 5%;
    border-bottom: 1px solid black;
  }
}

//Stone1
.stone1 {
  padding: 50px;

  .text_container {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;

    p {
      padding-right: 20px;
      line-height: 1.6;
    }

    img {
      height: 70%;
    }
  }
}

.stone2 {
  padding: 50px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    padding-bottom: 25px;
  }
  .text_container {
    p {
      padding-right: 20px;
      line-height: 1.6;
    }

    div {
      padding-bottom: 100px;
    }

    img {
      height: 50%;
    }
  }
}

.stone3 {
  padding: 50px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .full {
    height: 50vh;
    img {
      height: 100%;
    }
  }
  .text_container {
    padding-top: 50px;
    div {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

//Piramid
.pyramid1 {
  p {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .a-bcg-body {
    padding-left: 25px;
    padding-right: 25px;
  }
}

#hotspots {
  height: 100vh;
  pointer-events: none;

  .hotspot {
    pointer-events: all;
  }

  .experience-logo {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 100px;
    pointer-events: all;
  }
}
