//Scss della scenaPunto
.a-bcg-body {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #edebe6;
  height: 100vh;
  width: 100vw;

  a {
    text-align: center;
    text-decoration: underline;
  }

  .container {
    .row {
      h3.title {
        text-align: center;
        padding: 12px 0px 12px 0px;
      }
    }
  }

  .img-position {
    display: block;
    margin: 0px auto;
    text-align: center;
  }

  .txt-position {
    line-height: 27px;
    display: block;
    margin: 0px auto;
    text-align: center;
    max-width: 620px;
    text-align: justify;
    padding-top: 1.3rem;
  }
  p.n-position {
    margin: 0px 2em;
    text-align: right;
  }
}

@media (max-width: 900px) {
  .a-bcg-body {
    padding-left: 25px;
    padding-right: 25px;
  }
}
